'use strict';

module.exports = {
  db: 'mongodb://' + (process.env.DB_PORT_27017_TCP_ADDR || 'localhost') + '/mean-dev',
  debug: true,
  logging: {
    format: 'tiny'
  },
  //  aggregate: 'whatever that is not false, because boolean false value turns aggregation off', //false
  aggregate: false,
  mongoose: {
    debug: false
  },
  hostname: 'http://{{ mean_public_alias }}',
  app: {
    name: 'MeanIO - Development'
  },
  strategies: {
      local: {
        enabled: true
      },
      facebook: {
        clientID: 'DEFAULT_APP_ID',
        clientSecret: 'APP_SECRET',
        callbackURL: 'http://{{ mean_public_alias }}/api/auth/facebook/callback',
        enabled: false
      },
      twitter: {
        clientID: '{{ mean_twitter_api_key }}',
        clientSecret: '{{ mean_twitter_api_secret }}',
        callbackURL: 'http://{{ mean_public_alias }}/api/auth/twitter/callback',
        enabled: {% if mean_twitter_api_key|default(None) != '' %}true{% else %}false{% endif %}
      },
      github: {
        clientID: 'DEFAULT_APP_ID',
        clientSecret: 'APP_SECRET',
        callbackURL: 'http://{{ mean_public_alias }}/api/auth/github/callback',
        enabled: false
      },
      google: {
        clientID: 'DEFAULT_APP_ID',
        clientSecret: 'APP_SECRET',
        callbackURL: 'http://{{ mean_public_alias }}/api/auth/google/callback',
        enabled: false
      },
      linkedin: {
        clientID: 'DEFAULT_API_KEY',
        clientSecret: 'SECRET_KEY',
        callbackURL: 'http://{{ mean_public_alias }}/api/auth/linkedin/callback',
        enabled: false
      }
  },
  emailFrom: 'admin@local.meanio.net', // sender address like ABC <abc@example.com>
  mailer: {
    service: 'SERVICE_PROVIDER', // Gmail, SMTP
    auth: {
      user: 'EMAIL_ID',
      pass: 'PASSWORD'
    }
  }, 
  secret: 'SOME_TOKEN_SECRET'
};
