[Unit]
Description=MeanIO Developer Service

[Service]
WorkingDirectory={{ meanio_src_dir }}
Environment="NODE_ENV={{ meanio_node_env }}"
ExecStart=gulp
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User={{ meanio_username }}

[Install]
WantedBy=multi-user.target
